/* DSA 2/16/15 - Suppressing footer UL bullet */
.xoxo {
	list-style-type:none;
	margin-top: 3px;
}

#footer-bar3 li {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.post-entry strong {
	margin-left:17px;
}

#left-col {
	border-radius:3px;
}

.lcp_catlist a:hover {
	text-decoration:none;
	font-weight:bold;
}

#menubar li {
	background-color: #084049;
	margin-top:5px;
}

/* Responsive Blog posts */

/* default style */
.lcp_catlist li {
	list-style-type: none !important;
	height:20px !important;
	background-color:#084049 !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-radius:0px !important; 
}
/************************
#menu-main-menu { 
  	width: 600px; 
}
*************************/


/* small screen */
@media screen and (max-width: 600px) {
  .js .lcp_catlist li { height:200px; }
}

/* micro screen */
@media screen and (max-width: 300px) {
  .js .lcp_catlist li { height:320px; }
}

/* Contact page styling *
.contact_label {
	margin-top:20px !important;
  	text-align:left;
  
}
*/
#fname {
	margin-bottom:4px;
}
#subhead_container {
  	background-color: #084049;
  	//height:45px;
  
}
#subhead_container h1 {
	//margin-top:-16px;
	//padding-left:5px;
  	color:white;
}

/*  clear bootstrap header colors & style container */
.navbar-default {
    	background-color: white;
    	border-color: white;
  	margin-top: 12px;
  	margin-bottom: 3px;
  	overflow:hidden;
        width: 100% !important;
}


/* set nav menu position & style */
.nav li {
	margin-top:12px;
}
.nav {
	margin-left:210px;
  	float:left;
  	/* width:auto; */
}
.navbar-default .navbar-nav > li > a {
    	color: #084049;
}

.navbar-default .navbar-nav .menu-item> .active a:hover,
.navbar-default .navbar-nav .menu-item> .active > a {
  	color:white;
  	background-color: #084049;
  	font-weight: bold;
}

.navbar-default .navbar-nav .menu-item> li > a:hover {
  	color:white;
  	background-color: #084049;
}

.navbar-default .navbar-nav  .menu-item> .active > a, 
.navbar-default .navbar-nav  .menu-item> .active > a:focus {
  	color:#084049;
  	background-color: #F0F0F0;
  	font-weight: bold;
}

/* footer widget positionin