@font-face {
    font-family: 'EntypoSocial';
    src: url('fonts/entypo-social.eot');
    src: url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo-social.woff') format('woff'),
         url('fonts/entypo-social.ttf') format('truetype'),
         url('fonts/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.entypo-social {
	font-family: 'EntypoSocial';
	font-size: 30px;
	font-weight: normal;
	line-height: 0;
	-webkit-font-smoothing: antialiased;
}
.entypo-social.twitter:before{ content:'\F309'; }
.entypo-social.facebook:before{ content:'\F30C'; }
.entypo-social.googlep:before{ content:'\F30F'; }
.entypo-social.pinterest:before{ content:'\F312'; }
.entypo-social.tumblr:before{ content:'\F315'; }
.entypo-social.instagram:before{ content:'\F32D'; }


.quotery-quote-widget {
	margin-bottom: 1em;
}

.quotery-quote-widget-title {
	background: #282524;
	color: #fff;
	font: normal 400 18px/1 "Montserrat", "Open Sans", sans-serif;
	padding: 15px;
	letter-spacing: 0;
}
.quotery-quote-widget-copy {
	background: #e5e5e5;
	color: #6f6b62;
	font: normal 400 12px/1 "Open Sans", sans-serif;
	padding: 10px 15px;
}
.quotery-quote-widget-copy a,
.quotery-quote-widget-copy a:link,
.quotery-quote-widget-copy a:hover,
.quotery-quote-widget-copy a:focus,
.quotery-quote-widget-copy a:active {
	color: #6f6b62!important;
	text-decoration: none!important;
}
.quotery-quote-widget-copy a:hover {
	color: #282524!important;
}

.quotery-quote-widget-body {
	padding: 15px 14px;
	border: 1px solid transparent;
	border-top: 0;
	border-bottom: 0;
	overflow: hidden;
	zoom: 1;
	font: normal 400 10px/1 "Open Sans", sans-serif;
}
.quotery-quote-widget-author {
	border-bottom: 1px solid transparent;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.quotery-quote-widget-author-image {
	float: left;
	width: 75px;
	height: auto;
	margin-right: 10px;
}
.quotery-quote-widget-author-image img {
	width: 100%;
	height: auto;
	max-width: 100%;
	min-width: 100%;
}

.quotery-quote-widget-author-content {
	overflow: hidden;
	min-height: 75px;
}
.quotery-quote-widget-author-name {
	font: normal 18px/1 "Montserrat", "Open Sans", sans-serif;
	margin-bottom: 10px;
}
.quotery-quote-widget-author-lived {
	font-size: 12px;
}

.quotery-quote-widget-quote {
	font: italic 16px/28px "Droid Serif", "Georgia", "Times New Roman", Times, serif;
}

.quotery-quote-widget-social {
	border-top: 1px solid transparent;
	padding-top: 15px;
	margin-top: 15px;
	font-size: 14px;
	vertical-align: middle;
}
.quotery-quote-widget-social span,
.quotery-quote-widget-social a {
	margin-right: 5px;
	vertical-align: middle;
	text-decoration: none!important;
}

/************
	Light
*************/
.quotery-quote-widget-color-light .quotery-quote-widget-body {
	border-color: #e5e5e5;
	background: #fff;
	color: #6f6b62;
}

.quotery-quote-widget-color-light .quotery-quote-widget-social,
.quotery-quote-widget-color-light .quotery-quote-widget-author {
	border-color: #e5e5e5;
}
.quotery-quote-widget-color-light .quotery-quote-widget-author-name,
.quotery-quote-widget-color-light .quotery-quote-widget-author-name a,
.quotery-quote-widget-color-light .quotery-quote-widget-author-name a:link,
.quotery-quote-widget-color-light .quotery-quote-widget-author-name a:hover,
.quotery-quote-widget-color-light .quotery-quote-widget-author-name a:focus,
.quotery-quote-widget-color-light .quotery-quote-widget-author-name a:active {
	color: #ee6342!important;
	text-decoration: none;
}
.quotery-quote-widget-color-light .quotery-quote-widget-social a,
.quotery-quote-widget-color-light .quotery-quote-widget-social a:link,
.quotery-quote-widget-color-light .quotery-quote-widget-social a:hover,
.quotery-quote-widget-color-light .quotery-quote-widget-social a:focus,
.quotery-quote-widget-color-light .quotery-quote-widget-social a:active {
	color: #ee6342!important;
}
.quotery-quote-widget-color-light .quotery-quote-widget-quote,
.quotery-quote-widget-color-light .quotery-quote-widget-quote a,
.quotery-quote-widget-color-light .quotery-quote-widget-quote a:link,
.quotery-quote-widget-color-light .quotery-quote-widget-quote a:hover,
.quotery-quote-widget-color-light .quotery-quote-widget-quote a:focus,
.quotery-quote-widget-color-light .quotery-quote-widget-quote a:active {
	color: #6f6b62!important;
	text-decoration: none;
}




/************
	Orange
*************/
.quotery-quote-widget-color-orange .quotery-quote-widget-body {
	border-color: #ee6342;
	background: #ee6342;
	color: #fff;
}

.quotery-quote-widget-color-orange .quotery-quote-widget-social,
.quotery-quote-widget-color-orange .quotery-quote-widget-author {
	border-color: #d9593c;
}
.quotery-quote-widget-color-orange .quotery-quote-widget-author-name,
.quotery-quote-widget-color-orange .quotery-quote-widget-author-name a,
.quotery-quote-widget-color-orange .quotery-quote-widget-author-name a:link,
.quotery-quote-widget-color-orange .quotery-quote-widget-author-name a:hover,
.quotery-quote-widget-color-orange .quotery-quote-widget-author-name a:focus,
.quotery-quote-widget-color-orange .quotery-quote-widget-author-name a:active {
	color: #fff!important;
	text-decoration: none;
}

.quotery-quote-widget-color-orange .quotery-quote-widget-author-lived {
	color: #282b24;
}
.quotery-quote-widget-color-orange .quotery-quote-widget-social {
	color: #404040;
}
.quotery-quote-widget-color-orange .quotery-quote-widget-social a,
.quotery-quote-widget-color-orange .quotery-quote-widget-social a:link,
.quotery-quote-widget-color-orange .quotery-quote-widget-social a:hover,
.quotery-quote-widget-color-orange .quotery-quote-widget-social a:focus,
.quotery-quote-widget-color-orange .quotery-quote-widget-social a:active {
	color: #fff!important;
	text-decoration: none;
}
.quotery-quote-widget-color-orange .quotery-quote-widget-quote,
.quotery-quote-widget-color-orange .quotery-quote-widget-quote a,
.quotery-quote-widget-color-orange .quotery-quote-widget-quote a:link,
.quotery-quote-widget-color-orange .quotery-quote-widget-quote a:hover,
.quotery-quote-widget-color-orange .quotery-quote-widget-quote a:focus,
.quotery-quote-widget-color-orange .quotery-quote-widget-quote a:active {
	color: #fff!important;
	text-decoration: none;
}

/************
	Dark
*************/
.quotery-quote-widget-color-dark .quotery-quote-widget-title {
	background: #ee6342;
}
.quotery-quote-widget-color-dark .quotery-quote-widget-body {
	border-color: #2a2b25;
	background: #2a2b25;
	color: #fff;
}
.quotery-quote-widget-color-dark .quotery-quote-widget-social,
.quotery-quote-widget-color-dark .quotery-quote-widget-author {
	border-color: #3b3c36;
}
.quotery-quote-widget-color-dark .quotery-quote-widget-author-name,
.quotery-quote-widget-color-dark .quotery-quote-widget-author-name a,
.quotery-quote-widget-color-dark .quotery-quote-widget-author-name a:link,
.quotery-quote-widget-color-dark .quotery-quote-widget-author-name a:hover,
.quotery-quote-widget-color-dark .quotery-quote-widget-author-name a:focus,
.quotery-quote-widget-color-dark .quotery-quote-widget-author-name a:active {
	color: #fff!important;
	text-decoration: none;
}
.quotery-quote-widget-color-dark .quotery-quote-widget-author-lived,
.quotery-quote-widget-color-dark .quotery-quote-widget-social {
	color: #90908e;
}
.quotery-quote-widget-color-dark .quotery-quote-widget-social a,
.quotery-quote-widget-color-dark .quotery-quote-widget-social a:link,
.quotery-quote-widget-color-dark .quotery-quote-widget-social a:hover,
.quotery-quote-widget-color-dark .quotery-quote-widget-social a:focus,
.quotery-quote-widget-color-dark .quotery-quote-widget-social a:active {
	color: #fff!important;
	text-decoration: none;
}

.quotery-quote-widget-color-dark .quotery-quote-widget-quote,
.quotery-quote-widget-color-dark .quotery-quote-widget-quote a,
.quotery-quote-widget-color-dark .quotery-quote-widget-quote a:link,
.quotery-quote-widget-color-dark .quotery-quote-widget-quote a:hover,
.quotery-quote-widget-color-dark .quotery-quote-widget-quote a:focus,
.quotery-quote-widget-color-dark .quotery-quote-widget-quote a:active {
	color: #fff!important;
	text-decoration: none;
}